@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .btn {
    @apply text-white text-xs  rounded-lg px-4 py-2.5 font-semibold uppercase;
  }

  .btn-primary {
    @apply bg-primary hover:bg-primary-dark;
  }

  .btn-success {
    @apply bg-green-500 hover:bg-green-800;
  }
}
